<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag :all %>

  <!-- JQuery & UI -->
  <script type="text/javascript" src="/javascripts/jquery.rails.js"></script>
  <script type="text/javascript" src="/javascripts/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqueryui/1.8.6/jquery-ui.min.js"></script>

  <!-- DataTables -->
  <script type="text/javascript" src="/javascripts/datatables/1.7.4/media/js/jquery.dataTables.min.js"></script>
  <link href="/javascripts/datatables/1.7.4/media/css/demo_table.css" rel="stylesheet" type="text/css"/>

  <%= csrf_meta_tag %>

</head>
<body>

<script type="text/javascript">
  $(document).ready(function() {
  $('table.datatable').dataTable({
  "bAutoWidth": false,
  "bFilter": false,
  "bInfo": false,
  "bLengthChange": false,
  "bPaginate": false,
  "bSort": true
  });
  });
</script>

<%= yield %>

</body>
</html>
